<%= render "shared/header"%>

<div class="inner">
  <div class="card__wrapper">
    <% @coffees.each do |coffee| %>
      <div class="card" style="background-image: url('<%= coffee.country.image %>');">
        <div class="card__body">
          <p class="card__summary">
            <span>銘柄</span>
            <%= coffee.name %>
            <span>購入店</span>
            <%= coffee.shop %>
            <span>購入日</span>
            <%= coffee.date_of_purchase %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>