<%= render "shared/header"%>

<div class="registration-main">
  <div class='form-wrap-show'>

  <%# ページタイトル %>
    <h1 class='title'>
      コーヒー豆詳細
    </h1>
  <%# //ページタイトル %>

  <%# 該当コーヒー情報の表示 %>
    <div class='form-header' style="background-image: url('<%= @coffee.country.image %>');">
      <h1 class='form-header-text-review'>
        <span class='first'>銘柄:<%= @coffee.name %></span>      
        <span class='second'>原産国:<%= @coffee.country.name %></span>      
        <span class='third'>購入日:<%= @coffee.date_of_purchase %></span>      
        <span class='fourth'>購入店:<%= @coffee.shop %></span>      
      </h1>
    </div>
  <%# //該当コーヒー情報の表示 %>

  <%# コーヒー詳細の表示（なければ非表示） %>
  <% unless @coffee.detail == "" %>
    <div class="form-group-coffees-show0">
      <div class='form-text-wrap'>
        <label class="form-text">詳細</label>
        <div class="input-long-coffees-show"><%= @coffee.detail %></div>
      </div>
    </div>
  <% end %>
  <%# //コーヒー詳細の表示（なければ非表示） %>

  <%# レビュー未投稿時のメッセージ %>
  <% if @coffee.reviews.size == 0 %>
    <div class='form-header'>
      <h1 class='form-header-text'>
        まずは<%= link_to 'レビューの投稿', new_coffee_review_path(@coffee.id) , method: :get %>を行いましょう！
      </h1>
    </div>
  <% end %>
  <%# //レビュー未投稿時のメッセージ %>

  <%# レビュー内容の表示 %>
    <%= render "shared/reviews_with_index" %>
  <%# //レビュー内容の表示 %>

  </div>
</div>