<%= render "shared/header"%>

<div class="registration-main">
  <div class='form-wrap-show'>

  <%# 該当コーヒー情報の表示 %>
    <div class='form-header' style="background-image: url('<%= @coffee.country.image %>');">
      <h1 class='form-header-text-review'>
        <span class='first'>銘柄:<%= @coffee.name %></span>      
        <span class='second'>原産国:<%= @coffee.country.name %></span>      
        <span class='third'>購入日:<%= @coffee.date_of_purchase %></span>      
        <span class='fourth'>購入店:<%= @coffee.shop %></span>      
      </h1>
    </div>
  <%# //該当コーヒー情報の表示 %>

  <%# コーヒー詳細の表示（なければ非表示） %>
  <% unless @coffee.detail == "" %>
    <div class="form-group-coffees-show0">
      <div class='form-text-wrap'>
        <label class="form-text">詳細</label>
        <div class="input-long-coffees-show"><%= @coffee.detail %></div>
      </div>
    </div>
  <% end %>
  <%# //コーヒー詳細の表示（なければ非表示） %>

  <%# レビュー未投稿時のメッセージ %>
  <% if @coffee.reviews.size == 0 %>
    <div class='form-header'>
      <h1 class='form-header-text'>
        まずは<%= link_to 'レビューの投稿', new_coffee_review_path(@coffee.id) , method: :get %>を行いましょう！
      </h1>
    </div>
  <% end %>
  <%# //レビュー未投稿時のメッセージ %>

  <%# レビュー内容の表示 %>
  <% @coffee.reviews.each_with_index do |review, i| %>
    <div class="form-group-coffees-show">
      <div class='form-text-wrap'>
        <label class="form-text"><%= i + 1%>回目</label>
      </div>
      <div class='form-text-wrap'>
        <label class="form-text">飲んだ日</label>
        <span><%= review.date %></span>
      </div>

      <%# 任意項目の表示（未登録なら非表示） %>
      <% if review.tool.id != 0 %>
        <div class='form-text-wrap'>
          <label class="form-text">抽出器具</label>
          <span><%= review.tool.name %></span>
        </div>
      <% end %>
      <% if review.amount_of_coffee %>
        <div class='form-text-wrap'>
          <label class="form-text">コーヒー豆の量</label>
          <span><%= review.amount_of_coffee %>g</span>
        </div>
      <% end %>
      <% if review.amount_of_water %>
        <div class='form-text-wrap'>
          <label class="form-text">お湯の量</label>
          <span><%= review.amount_of_water %>ml</span>
        </div>
      <% end %>
      <% if review.pre_infusion_time %>
        <div class='form-text-wrap'>
          <label class="form-text">蒸らし時間</label>
          <span><%= review.pre_infusion_time %>秒</span>
        </div>
      <% end %>
      <% if review.extraction_time %>
        <div class='form-text-wrap'>
          <label class="form-text">抽出時間</label>
          <span><%= review.extraction_time %>秒</span>
        </div>
      <% end %>
      <%# //任意項目の表示（未登録なら非表示） %>

      <div class='form-text-wrap'>
        <label class="form-text">レビュー</label>
        <div class="input-long-coffees-show"><%= review.review %></div>
      </div>
    </div>
  <% end %>
  <%# //レビュー内容の表示 %>

  </div>
</div>