<%= render "shared/header" %>

<%# ページタイトル %>
  <h1 class='page-title'>
    <%= @user.nickname %>さんのマイページ
  </h1>
<%# //ページタイトル %>

<%# 未投稿時のメッセージ %>
<% if @coffees.size == 0 %>
  <div class='form-header'>
    <h1 class='form-header-text'>
      <% if @user.id == current_user.id %>
        まずは<%= link_to 'コーヒー豆の登録', new_coffee_path ,  class: "coffee-registration" %>を行いましょう！
      <% else %>
        <%= @user.nickname %>さんのレビューはまだありません
      <% end %>
    </h1>
  </div>
<% elsif @reviews.size == 0 %>
  <div class='form-header'>
    <h1 class='form-header-text'>
      <% if @user.id == current_user.id %>
        まずは<%= link_to 'レビューの投稿', new_coffee_review_path(@coffee.id) , method: :get %>を行いましょう！
      <% else %>
        <%= @user.nickname %>さんのレビューはまだありません
      <% end %>
    </h1>
  </div>
<% end %>
<%# //未投稿時のメッセージ %>

<%# レビューの一覧 %>
<div class="review__wrapper">
  <%= render "shared/reviews" %>
</div>
<%# //レビューの一覧 %>
