<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='nav'>
    <ul class='lists-left'>
      <% if user_signed_in? %>
        <li><%= link_to 'My Coffeebeans', coffees_path, class: "category-list" %></li>
      <% else %>
        <li><%= link_to 'CafeTimes', root_path, class: "category-list" %></li>
      <% end %>
    </ul>
    <ul class='lists-right'>
      <%# ログインの有無による表示分岐 %>
      <% if user_signed_in? %>
        <span class="user-nickname"><%= current_user.nickname %>
          <ul class="user__info">
            <li>
              <%= link_to "マイレビュー", user_path(current_user.id) %>
              <%= link_to "利用者一覧", users_path %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </span>
        <%= link_to 'コーヒー豆の登録', new_coffee_path ,  class: "coffee-registration" ,id: "coffee-registration" %>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path , class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path , class: "sign-up" %></li>
      <% end %>
      <%# //ログインの有無による表示分岐 %>
    </ul>
  </div>
</header>